*{
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    
    margin:0;   
    padding:0;

    background-color: black;
    font-family: 'Irish grover', cursive;
    color: white;
}
.navbar{
    justify-content:center;
    display:flex;
}
.bars{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Irish grover', cursive;
    color: white;
    margin:25px;

}
.banner{
    font-family: 'Irish Grover', cursive;
    display:flex;
    color: white;
    
    } 
.leftext{
    width: 80%;
    padding: 30px;
    margin-left: 40px;
    display:grid;

    align-items: flex-end;
    flex-shrink: 0;
    
}
#maintext{
    
    font-family:'Irish Grover', cursive;
    font-size: 50px;

}
#Caption{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.search{
    background-color: rgb(60, 0,17, 100%);
    padding: 20px;

    border-radius: 5px;
    display:grid;
    justify-content: end;
    width: 250px;
    
}
#searchbtn{
        background-color: rgb(60, 0,17, 100%);
        cursor:pointer;
        border: none;
        font-size: 20px;
}
button:hover{
    background-color: rgb(60, 0,17, 100%);
    outline-offset: 2px;
}

.sectionone{
    position: relative;
    width: 500px;
    height: 500px;
    transform:translate(-15%) rotate(-5deg);;
}

.circle{
    position:absolute;
    width: 300px;
    height:300px;
    border-radius: 50%;
    background-color: rgb(49,78,61,100%);
    
}
#icecreamone{
    display: inline-block;
    position: absolute;
    width: 450px;
    height: auto;
    left: -20%;
    z-index: 1;
    flex-shrink: 0;
    
    animation: swing 2s infinite ease-in-out;

}
@keyframes swing {
    0%{
        transform: rotate(-15deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.about{
    flex-shrink: 0;
    width: 1000px;
    height: fit-content;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    position:relative;    
}
.sundae{
    width: 1000px;
    height: auto;
    padding: 10px;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: flex-start;
}

#Caption2{
    text-align: left;
    flex-shrink: 0;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bigcircle{
    
    position:relative;
    flex-shrink: 0;
    background-color:  rgb(60, 0,17, 100%);
    width: 400px;
    height: 350px;
    top: 20%;
    border-radius: 50%;
    overflow: visible;
}
#icecreamtwo{
    display: block;
    position: absolute;
    width: 350px;
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    z-index: 1;
    flex-shrink: 0;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
#menupage{
    margin-left: 20px;
    padding: 30px;
    font-size: 50px;
    font-family:'Irish Grover', cursive;
    text-decoration: underline;
    
}
.menu{
    position: relative;
    width: 1000px;
    height:auto;
    
    color: white;

}

    
.menustyle{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
    margin: 20px;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    align-items:center;

    
}
#description{
    
    width: 50%;
    color: white;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding: 20px;
    margin-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.shape{
    background-color:rgb(49,78,61,100%) ;
    position: relative;
    width:370px;
    height: 500px;
    border-radius: 50%;

}
#flavour{
    position: absolute;
    border-radius: 30%;
    width: 350px;
    left: 30%;
    top: 20%;
    border: 2px solid white;
    z-index: 1;
}



.contact{
    position: relative;
    width:1000px;
    height:800px;
    display: flex;
    color: white;
    justify-content: right;
    
}
#caption4{
    font-family: 'Irish Grover', cursive;
    font-size: 50px;
    text-align: center;
    position:relative;
    margin: 40px;
    
    

}

.contactform{
    margin: 30px;
    padding: 40px;
    width:500px;
    height: 500px;
    
    

}
.greenbox{
    position: absolute;
    background-color:  rgb(49,78,61,100%) ;
    border:5px solid white;
    width: 490px;
    height: 490px;
    border-radius: 80px;
    
}

.redbox{
    position: absolute;
    background-color:  rgb(60, 0,17, 100%);
    border:5px solid white;
    width: 450px;
    height: 450px;
    border-radius: 80px;

}
.form{
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 18px;
    font-size: large;
        
}
label{
    text-decoration:underline;
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: inline-block;
    width: 150px;
}
input[type="text"]{
    background-color: rgb(49,78,61,100%);
    border: 4px solid white;
    border-radius: 10px;
    padding:5px;
    width: 120px;
    
}
input[type="number"]{
    background-color: rgb(49,78,61,100%);
    border: 4px solid white;
    border-radius: 10px;
    padding:5px;
    width: 120px;
    
}input[type="email"]{
    background-color: rgb(49,78,61,100%);
    border: 4px solid white;
    border-radius: 10px;
    padding:5px;
    width: 120px;
}
button[type="submit"]{
    font-family: "Irish Grover",cursive;
    text-decoration:underline;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(60, 0,17, 100%);
    border: 2px solid white;
    border-radius: 10px;
    padding:15px;
    width: 150px;
    left: 40%;
    
}
#ice5{
    position: absolute;
    width: 350px;
    height: 200px;
    left: 60%;
    bottom: 25%;
    flex-shrink: 0;
    
}
.social{
    position: relative;
    display: grid;
    color: white;
    
    
}
.sociallinks{
    background-color: rgb(49,78,61,100%);
    border: 12px solid white;
    border-radius: 80px;
}

.twobox{
    background-color: rgb(60, 0,17, 100%);
    margin:20px ;
    padding: 20px;
    height: 300px;
    border-radius: 80px;
}
.list{
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color:#fff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor:pointer;
    border: 2px solid white;
}
@media (max-width: 768px) {}
.flavours{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    
}
.card{
    
    width: 350px;
    
    background-color: rgb(60, 0,17, 100%);
    border-radius: 20px;
    margin: 20px;
    animation: float 100s;
    border:solid 3px white;
}


.menubtn{
    display: inline-block;
    font-family: 'Irish-Grover',cursive;
    
}
.card.set1 button:hover{
    background-color:rgb(49,78,61,100%);
    cursor:pointer;
    outline-offset:2px ;
}
.card.set1 button:hover{
    background-color: rgb(60, 0,17, 100%) ;
}
.card img{
    width:100%;
    height: 350px;
    
}
.card.set2{
    
    background-color:rgb(49,78,61,100%);
}
#changeflavour{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(60, 0,17, 100%) ;;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}
#changeflavour:hover{
    background-color: rgb(49,78,61,100%);
    outline-offset: 2px;
}
.hidden{
    display: none;
}
